@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <div class="card-header">
            <h2 class="card-title">Asistente Hokma</h2>
        </div>
    <div class="card">
            <video width="800" height="700" style=" position: relative;left: 14em;" autoplay loop muted><source src="https://user-images.githubusercontent.com/69684654/210608130-27c1460d-a0e3-47e6-84b7-17aab067c71a.mp4" /></video>
        </div>

        @Html.ActionLink("Iniciar", "LanzarConsola", "Principal", new { }, new{@class="btn btn-primary", @style="position: relative;left: 35em;width: 12em;top: 7px;"})
    </div>
    
</div>
