@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <div class="card-header">
            <h2 class="card-title">Asistenta Hokma</h2>
        </div>
    <div class="card">
            <img class="text-center" width="600" height="500" src="https://img.freepik.com/vector-gratis/hombre-muestra-gesto-gran-idea_10045-637.jpg?w=360" title="saludo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style=" position: relative;left: 21em;"></img>
            
    </div>

        @Html.ActionLink("Iniciar", "LanzarConsola", "Principal", new { }, new{@class="btn btn-primary", @style="position: relative;left: 35em;width: 12em;top: 7px;"})
    </div>
    
</div>
